<?xml version="1.0"?>
<!--
    - 3d Sensor : kinect
-->
<robot name="saturnbot" xmlns:xacro="http://ros.org/wiki/xacro">


 <!-- base_link -->
 <xacro:include filename="$(find saturnbot_description)/urdf/base/saturnbot_base.urdf.xacro" />
 <!-- camera_link -->
 <xacro:include filename="$(find saturnbot_description)/urdf/sensors/kinect.urdf.xacro" />
 <sensor_kinect  parent="base_link"/>

 <!-- gazebo configurations and plugins -->
 <xacro:include filename="$(find saturnbot_description)/urdf/saturnbot_gazebo.urdf.xacro"/>


</robot>
